@charset "utf-8";

/* CSS Document */


/*********************

FONTS FONTS FONTS

*******************/


@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=aba1d031-6375-46de-90f1-e9783f21b783");


@font-face{

font-family:"Trade Gothic W01 Bold 2";

src:url("http://fixthemap.scout.me/static/css/bb3aa0a7-2585-4e89-ad82-658fd561751a.eot?iefix") format("eot");

}




@font-face{

font-family:"TradeGothicW02-BoldCn20 675505";

src:url("http://fixthemap.scout.me/static/css/e4693908-7208-4b04-93c4-8d004c3b4e1f.eot?iefix") format("eot");

}

@font-face{

font-family:"TradeGothicW02-BoldCn20 675505";

src:url("http://fixthemap.scout.me/static/css/e4693908-7208-4b04-93c4-8d004c3b4e1f.eot?iefix");

src:url("http://fixthemap.scout.me/static/css/e2fbc63c-e7b1-4828-b0b6-275131d16fd0.woff") format("woff"),url("http://fixthemap.scout.me/static/css/805d9356-a4a5-46df-8390-957c803e33bc.ttf") format("truetype"),url("http://fixthemap.scout.me/static/css/df0f9c50-3ce3-4b1f-8120-074ca66b83b1.svg#df0f9c50-3ce3-4b1f-8120-074ca66b83b1") format("svg");

}

