
/* the main container and global styles */
body, #map {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 0 0 0;
    overflow: hidden;
    font-size: 11pt;
	font-family: Arial, Helvetica, sans-serif;
}
/* emphasized text */
em {
    font-style:italic;
    /*color:#44cc33;*/
}

a {
	color:#258aff;
	text-decoration:underline;
}

a:hover {
	color:#56a4fd;
	text-decoration:none;
}

/* the main MapRoulette control panel */
div#controlpanel {
    border: 1px solid #d0d0d0;
    z-index:15;
    position:absolute;
    right:20px;
    top:64px;
    width:250px;
    padding: 15px 15px 20px 15px;
    text-align: left;
    background-color:#ffffff;
}

/* the notifications container */
div.notifications {
    z-index:15;
    position:absolute;
    left:50px;
    top:50px;
    width:30%;
}


/* the MapRoulette title */
div.title {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

/* challenge container in list */
.challengeBox {
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    color: #000000;
    margin: 4px;
    padding: 25px;
}

.challengeBox .title {
    font-size:28px;
	line-height:30px;
	padding:0 0 12px 0;
}

.difficultyBadge .d1 {
    border: 1px solid #ffffff;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px;
    background-color: #6d6;
}

.difficultyBadge .d2 {
    border: 1px solid #ffffff;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px;
    background-color: #dd6;
}

.difficultyBadge .d3 {
    border: 1px solid #ffffff;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px;
    background-color: #f60;
}

/* all buttons */
div.button {
    background-color: #0180ff; 
    border: 1px solid #0180ff; 
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #ffffff; 
	font-weight:bold;
    font-size: 13px;
    line-height: 20px;
    margin: 4px;
    padding: 6px 4px;
	text-align: center;
}

/* the 'fixed' button */
div#fixed.button {
    background-color: rgb(120,230,100);
    border-width: 2px;
    font-weight: bold;
	text-align: center;
	 font-size: 13px;
}

/* cancel style buttons */
div.button.cancel {
    background-color: #ffffff;
    font-weight: normal;
	color:#0180ff;
}

/* tiny style buttons */
div.button.tiny {
    border: 1px solid #aaaaaa; 
    background-color: #aaaaaa; 
	border-radius: 3px; 
    -webkit-border-radius: 3px; 
    color: #ffffff; 
	font-weight:bold; 
    font-size: 13px;
    line-height: 20px;
    margin: 4px;
    padding: 6px 4px; 
	text-align: center;	
}

/* the button hover */
div.button:hover {
    opacity: 0.9 !important;
    filter: alpha(opacity=90) !important;
    cursor: pointer;
}

/* user display name */
div#user {
    font-size: smaller;
    color: #646464;
}

/* the challenge title */
div#challenge_title {
    font-size:36px;
	line-height:38px;
	padding:0 0 12px 0;
}

/* the blurb for the challenge */
div#challenge_blurb {
    font-style: italic;
    font-size: smaller;
}

/* the little stats section */
div#stats {
    font-size: 11px;
    color: #646464;
}

/* the dialog presented after clicking 'edit' */
div#dialog {
    position:absolute;
    display: none;
    width: 30%;
    left: 35%;
    top: 20%;
    border: 1px solid #d0d0d0;
    z-index:15;
    padding: 25px;
    text-align: center;
    background-color:#ffffff;
    max-height: 65%;
    overflow-y:auto;
}

/* the key 'icons' */
span.key {
    background-color: #0180ff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #000000;
    display: inline-block;
    font-size: 10px;
    height: 14px;
    line-height: 14px;
    margin: 0 6px;
    padding: 2px;
    text-align: center;
    width: 14px;
}

/* hide the challenge menu for now while the backend is not implemented. */
#challengemenu {
    display: block;
}

td.challengetitle {
    font-size: 36px;
	line-height:38px;

}

td.hidden {
    display: none;
}

table.stats {
    padding: 4px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {

	display: block;

}

ol, ul {

	list-style: none;

}

blockquote, q {

	quotes: none;

}

blockquote:before, blockquote:after, q:before, q:after {

	content: '';

	content: none;

}

#w {

	font-family: "TradeGothicW02-BoldCn20 675505", "Arial", sans-serif;

	display: block;

	width: 100%;

	margin: 0 auto;

	margin-top: 0;
	
	height:44px;

	position: absolute;

	z-index: 20000000000000000;
	
}

#header_sclogo {

	float: left;

	background: url('http://www.telenav.com/scoutme/web/product/iphone/images/april2014/logo_scout_horiz_86_31.png') no-repeat;

	background-position: 20px 6px;

	width: 120px;

	height: 38px;

}

#ddmenu {

	font-family: "TradeGothicW02-BoldCn20 675505", "Arial", sans-serif;

	display: block;

	width: 100%;

	height: 44px;

	margin: 0 auto;

	background: url('http://www.telenav.com/scoutme/web/product/iphone/images/april2014/scoutme_header_bg_trans_dgrey.png');

	cursor: pointer;

	outline: none;

	font-weight: normal;

	color: #8aa8bd;

	border: 0;

	vertical-align: baseline;

	outline: none;

	-webkit-font-smoothing: antialiased;

	-webkit-text-size-adjust: 100%;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;	

}

#ddmenu li.top {

	display: block;

	position: relative;

	padding: 0 22px;

	float: right;

	font-size: 16px;

}

#ddmenu li {

	display: block;

	position: relative;

	float: left;

	font-size: 16px;

}

#ddmenu li a {

	display: block;

	float: left;

	padding: 12px 0 0 0;

	line-height: 22px;

	text-decoration: none;

	color: #ffffff;
	
	-webkit-font-smoothing: antialiased;

	-webkit-text-size-adjust: 100%;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

}

#ddmenu li:hover > a {

	color: #fac031;

}

#ddmenu li:hover > a.inact {

	color: #ffffff;

}

#ddmenu ul {

	position: absolute;

	top: 44px;

	background: url('http://www.telenav.com/scoutme/web/product/iphone/images/april2014/scoutme_header_bg_trans_dgrey.png');

	display: none;

	margin: 0;

	padding: 0;

	list-style: none;
	
	-webkit-font-smoothing: antialiased;

	-webkit-text-size-adjust: 100%;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

}

#ddmenu ul li {

	display: block;

	width: 100%;

	font-size: 16px;

	font-weight: 100;
	
	-webkit-font-smoothing: antialiased;

	-webkit-text-size-adjust: 100%;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

}

#ddmenu ul li a {

	display: block;

	width: 100%;

	padding: 12px 22px;

	border-top: 1px solid #16171b;

}

#ddmenu ul li ul li.last {

	display: block;

	width: 100%;

	padding: 12px 44px;

	border-top: 1px solid #16171b;

	border-bottom: 1px solid #16171b;

}

#ddmenu ul li a:hover {

	background: url('http://www.telenav.com/scoutme/web/product/home/images/may2014/topnav_hover_bg.png') repeat;

	width: 100%;

}
